<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spordisemu.spordisemu" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".Activity_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Result"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".Activity_Registration">
        </activity>
        <activity
            android:name=".Activity_CreateOptionsLocation">
        </activity><activity
            android:name=".Activity_CreateOptionsPicture">
        </activity><activity
            android:name=".Activity_CreateOptionsSports">
        </activity><activity
            android:name=".Map">
        </activity><activity
            android:name=".Activity_Home">
        </activity>
    </application>

</manifest>
